.toast {
  max-width: 320px;
  width: 320px;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  opacity: 1;
  color: white;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgb(69, 69, 69);
  transition: 0.2s;
  animation: fadeIn 0.75s;
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.close {
  font-size: 0.8rem;
  cursor: pointer;
}
.success {
  background-color: #28a745;
}
.warning {
  background-color: #ffc107;
}
.error {
  background-color: #dc3545;
}
.info {
  background-color: #17a2b8;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
