.coins {
  display: flex;
  flex-direction: column;
  &__button {
    display: flex;
    flex-wrap: wrap;
  }
}

.coin {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0.5rem;
  button {
    background-color: teal;
    color: white;
    padding: 0;
    width: 20px;
    height: 20px;
  }
}
